/* HOMEPAGE */
.introduction {
  display: flex;
  place-items: center;
  align-items: center;
  justify-content: space-around;
}

.intro-img img {
  width: 400px;
  border-radius: 150px;
  /* margin: 100px; */
}

.intro-text {
  display: flex;
  flex-direction: column;
  place-items: center;
  background: rgba(238, 105, 131, 0.6);
  border-radius: 32px;
  backdrop-filter: blur(0px);
  border: 2px solid rgba(0, 0, 0, 0.05);
  background-clip: padding-box;
  color: #fff;
  padding: 24px;
  /* height: 20rem; */
  width: 32rem;
}

.intro-text h1 {
  font-weight: 1000;
  font-size: 40px;
  text-align: center;
}

.intro-text h3 {
  font-weight: 700;
  font-size: 20px 20px 10px;
  text-align: center;
}

.intro-text p {
  font-weight: 500;
  font-size: 15px;
  text-align: center;
}

.intro-text button {
  color: #fff;
  background-color: rgb(199, 69, 106);
  border-radius: 30px;
  border: 2px solid rgba(0, 0, 0, 0.05);
  padding: 10px;
}

button:hover {
  background-color: rgb(238, 105, 131);
}

.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 100px;
}

.skills h1 {
  text-align: center;
  font-size: 32px;
  font-weight: 700;
}

.icons-skills {
  display: flex;
}

#icons-figma,
#icons-html,
#icons-css,
#icons-js {
  width: 100px;
  margin: 20px;
  background-color: rgb(238, 105, 131);
  padding: 20px;
  border-radius: 32px;
}

@media only screen and (max-width: 820px) {
  * {
    font-size: 1rem;
  }

  .intro-img img {
    width: 300px;
  }

  .introduction {
    flex-direction: column;
  }

  .intro-text {
    padding: 12px;
    width: 32rem;
  }

  #icons-figma,
  #icons-html,
  #icons-css,
  #icons-js {
    width: 75px;
    margin: 10px;
  }
}

@media only screen and (max-width: 500px) {
  * {
    font-size: 0.7rem;
  }

  .intro-img img {
    width: 200px;
  }

  .intro-text {
    padding: 20px;
    /* height: 20rem; */
    width: 20rem;
  }

  #icons-figma,
  #icons-html,
  #icons-css,
  #icons-js {
    width: 50px;
    margin: 10px;
  }
}
